USE [master]
GO
/****** Object:  Database [YanaulCRB]    Script Date: 20.05.2026 17:31:47 ******/
CREATE DATABASE [YanaulCRB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'YanaulCRB', FILENAME = N'C:\Users\vikto\YanaulCRB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'YanaulCRB_log', FILENAME = N'C:\Users\vikto\YanaulCRB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YanaulCRB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YanaulCRB]
GO
/****** Object:  Table [dbo].[AnalysisResults]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisResults](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[AnalysisId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ResultDate] [datetime2](7) NOT NULL,
	[StatusRU] [nvarchar](50) NOT NULL,
	[StatusBA] [nvarchar](50) NOT NULL,
	[Details] [nvarchar](1000) NULL,
	[DoctorComment] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalysisType]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalysisType](
	[AnalysisId] [int] IDENTITY(1,1) NOT NULL,
	[NameRU] [nvarchar](150) NOT NULL,
	[NameBA] [nvarchar](150) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[DaysToResult] [int] NOT NULL,
	[Department] [nvarchar](100) NULL,
	[Preparation] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnalysisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [nvarchar](150) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[PatientPhone] [nvarchar](20) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[AppointmentTime] [datetime2](7) NOT NULL,
	[TicketNumber] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsVaccination] [bit] NULL,
	[IsOnline] [bit] NULL,
	[Status] [nvarchar](30) NULL,
	[Notes] [nvarchar](500) NULL,
	[Diagnosis] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificate]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[CertificateId] [int] IDENTITY(1,1) NOT NULL,
	[PatientPolicy] [nvarchar](20) NOT NULL,
	[DoctorId] [int] NULL,
	[IssueDate] [datetime2](7) NULL,
	[CertificateType] [nvarchar](100) NULL,
	[CertificateText] [nvarchar](max) NULL,
	[ValidUntil] [datetime2](7) NULL,
	[FileUrl] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NULL,
	[EmailSent] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[MessageText] [nvarchar](max) NOT NULL,
	[IsUserMessage] [bit] NOT NULL,
	[SentAt] [datetime2](7) NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[FullNameRU] [nvarchar](150) NOT NULL,
	[FullNameBA] [nvarchar](150) NOT NULL,
	[SpecialtyRU] [nvarchar](100) NOT NULL,
	[SpecialtyBA] [nvarchar](100) NOT NULL,
	[Room] [nvarchar](10) NOT NULL,
	[Category] [nvarchar](30) NULL,
	[ExperienceYears] [int] NULL,
	[Education] [nvarchar](255) NULL,
	[PhotoUrl] [nvarchar](255) NULL,
	[IsOnline] [bit] NULL,
	[Rating] [decimal](3, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorPhoto]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorPhoto](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[PhotoUrl] [nvarchar](500) NULL,
	[PhotoData] [varbinary](max) NULL,
	[PhotoType] [nvarchar](50) NULL,
	[UploadedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthMetrics]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthMetrics](
	[MetricId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[MetricType] [nvarchar](50) NOT NULL,
	[Value1] [decimal](10, 2) NOT NULL,
	[Value2] [decimal](10, 2) NULL,
	[MeasureDate] [datetime] NOT NULL,
	[Comment] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MetricId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HomeVisits]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeVisits](
	[VisitId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[PatientName] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[Symptoms] [nvarchar](500) NOT NULL,
	[VisitDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalCard]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalCard](
	[CardId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[PatientName] [nvarchar](150) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[BloodType] [nvarchar](15) NULL,
	[Allergies] [nvarchar](500) NULL,
	[ChronicDiseases] [nvarchar](500) NULL,
	[Height] [int] NULL,
	[Weight] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[PatientPolicy] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Type] [nvarchar](50) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientPhotos]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientPhotos](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[PhotoUrl] [nvarchar](500) NULL,
	[PhotoData] [varbinary](max) NULL,
	[PhotoType] [nvarchar](50) NULL,
	[UploadedAt] [datetime2](7) NULL,
	[UploadedBy] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[ServiceRU] [nvarchar](200) NOT NULL,
	[ServiceBA] [nvarchar](200) NOT NULL,
	[PaymentDate] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[ReceiptNumber] [nvarchar](50) NOT NULL,
	[IsRefunded] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[PrescriptionId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[IssueDate] [datetime2](7) NULL,
	[ValidUntil] [datetime2](7) NOT NULL,
	[Medicines] [nvarchar](max) NOT NULL,
	[DosageInstructions] [nvarchar](500) NULL,
	[IsPrinted] [bit] NULL,
	[Status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referral]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referral](
	[ReferralId] [int] IDENTITY(1,1) NOT NULL,
	[PatientPolicy] [nvarchar](20) NOT NULL,
	[DoctorId] [int] NULL,
	[IssueDate] [datetime] NULL,
	[SpecialtyTarget] [nvarchar](100) NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReferralId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SickLeave]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SickLeave](
	[SickLeaveId] [int] IDENTITY(1,1) NOT NULL,
	[PatientPolicy] [nvarchar](20) NOT NULL,
	[DoctorId] [int] NULL,
	[IssueDate] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SickLeaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SymptomRules]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SymptomRules](
	[RuleId] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [nvarchar](100) NOT NULL,
	[RecommendedSpecialty] [nvarchar](100) NOT NULL,
	[Priority] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TriageRecords]    Script Date: 20.05.2026 17:31:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TriageRecords](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[PolicyNumber] [nvarchar](20) NULL,
	[UserInput] [nvarchar](max) NOT NULL,
	[DetectedSymptoms] [nvarchar](max) NULL,
	[RecommendedDoctorSpecialty] [nvarchar](100) NULL,
	[RecommendedDoctorId] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20.05.2026 17:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[FullName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccination]    Script Date: 20.05.2026 17:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccination](
	[VaccinationId] [int] IDENTITY(1,1) NOT NULL,
	[PatientPolicy] [nvarchar](50) NOT NULL,
	[DoctorId] [int] NULL,
	[VaccineName] [nvarchar](200) NULL,
	[VaccinationDate] [datetime] NULL,
	[NextVaccinationDate] [datetime] NULL,
	[SeriesNumber] [nvarchar](100) NULL,
	[CertificateUrl] [nvarchar](500) NULL,
	[EmailSent] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccinationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccine]    Script Date: 20.05.2026 17:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccine](
	[VaccineId] [int] IDENTITY(1,1) NOT NULL,
	[NameRU] [nvarchar](150) NOT NULL,
	[NameBA] [nvarchar](150) NOT NULL,
	[DescriptionRU] [nvarchar](500) NULL,
	[DescriptionBA] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NULL,
	[DurationMinutes] [int] NULL,
	[AgeRestrictions] [nvarchar](100) NULL,
	[Availability] [nvarchar](50) NULL,
	[NextDoseDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VirtualQueue]    Script Date: 20.05.2026 17:31:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VirtualQueue](
	[QueueId] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[QueuePosition] [int] NOT NULL,
	[EstimatedWaitMinutes] [int] NULL,
	[Status] [nvarchar](30) NULL,
	[Notified] [bit] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[QueueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnalysisResults] ON 

INSERT [dbo].[AnalysisResults] ([ResultId], [PolicyNumber], [AnalysisId], [OrderDate], [ResultDate], [StatusRU], [StatusBA], [Details], [DoctorComment]) VALUES (1, N'1234567890123456', 1, CAST(N'2026-02-15T09:00:00.0000000' AS DateTime2), CAST(N'2026-02-16T14:00:00.0000000' AS DateTime2), N'Готов', N'Әҙер', N'Гемоглобин: 142 г/л (норма), Лейкоциты: 6.5 ×10⁹/л (норма)', NULL)
INSERT [dbo].[AnalysisResults] ([ResultId], [PolicyNumber], [AnalysisId], [OrderDate], [ResultDate], [StatusRU], [StatusBA], [Details], [DoctorComment]) VALUES (2, N'2345678901234567', 2, CAST(N'2026-02-14T10:30:00.0000000' AS DateTime2), CAST(N'2026-02-16T15:00:00.0000000' AS DateTime2), N'Готов', N'Әҙер', N'Глюкоза: 5.1 ммоль/л (норма), Билирубин: 12 мкмоль/л (норма)', NULL)
INSERT [dbo].[AnalysisResults] ([ResultId], [PolicyNumber], [AnalysisId], [OrderDate], [ResultDate], [StatusRU], [StatusBA], [Details], [DoctorComment]) VALUES (3, N'3456789012345678', 3, CAST(N'2026-02-16T08:45:00.0000000' AS DateTime2), CAST(N'2026-02-17T13:20:00.0000000' AS DateTime2), N'Готов', N'Әҙер', N'Цвет: соломенно-желтый, Прозрачность: прозрачная', NULL)
SET IDENTITY_INSERT [dbo].[AnalysisResults] OFF
GO
SET IDENTITY_INSERT [dbo].[AnalysisType] ON 

INSERT [dbo].[AnalysisType] ([AnalysisId], [NameRU], [NameBA], [Price], [DaysToResult], [Department], [Preparation], [IsActive]) VALUES (1, N'Общий анализ крови', N'Дөйөм ҡан анализы', CAST(450.00 AS Decimal(10, 2)), 1, N'Лаборатория', N'Сдавать натощак', 1)
INSERT [dbo].[AnalysisType] ([AnalysisId], [NameRU], [NameBA], [Price], [DaysToResult], [Department], [Preparation], [IsActive]) VALUES (2, N'Биохимический анализ крови', N'Биохимик ҡан анализы', CAST(1200.00 AS Decimal(10, 2)), 2, N'Лаборатория', N'Сдавать натощак, не пить алкоголь 24ч', 1)
INSERT [dbo].[AnalysisType] ([AnalysisId], [NameRU], [NameBA], [Price], [DaysToResult], [Department], [Preparation], [IsActive]) VALUES (3, N'Анализ мочи общий', N'Зәр анализы', CAST(300.00 AS Decimal(10, 2)), 1, N'Лаборатория', N'Собрать утреннюю мочу', 1)
SET IDENTITY_INSERT [dbo].[AnalysisType] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([AppointmentId], [PatientName], [PolicyNumber], [PatientPhone], [DoctorId], [AppointmentTime], [TicketNumber], [CreatedAt], [IsVaccination], [IsOnline], [Status], [Notes], [Diagnosis]) VALUES (1, N'Иванов Иван Иванович', N'1234567890123456', N'+79171234567', 1, CAST(N'2026-02-18T14:00:00.0000000' AS DateTime2), N'YNA-260218001', CAST(N'2026-02-17T11:23:12.9966667' AS DateTime2), 0, 0, N'активна', NULL, NULL)
INSERT [dbo].[Appointment] ([AppointmentId], [PatientName], [PolicyNumber], [PatientPhone], [DoctorId], [AppointmentTime], [TicketNumber], [CreatedAt], [IsVaccination], [IsOnline], [Status], [Notes], [Diagnosis]) VALUES (2, N'Петрова Мария Сергеевна', N'2345678901234567', N'+79172345678', 2, CAST(N'2026-02-18T15:30:00.0000000' AS DateTime2), N'YNA-260218002', CAST(N'2026-02-17T11:23:12.9966667' AS DateTime2), 0, 0, N'активна', NULL, NULL)
INSERT [dbo].[Appointment] ([AppointmentId], [PatientName], [PolicyNumber], [PatientPhone], [DoctorId], [AppointmentTime], [TicketNumber], [CreatedAt], [IsVaccination], [IsOnline], [Status], [Notes], [Diagnosis]) VALUES (3, N'Сидоров Алексей Владимирович', N'3456789012345678', N'+79173456789', 4, CAST(N'2026-02-19T10:00:00.0000000' AS DateTime2), N'YNA-260219001', CAST(N'2026-02-17T11:23:12.9966667' AS DateTime2), 0, 0, N'отменена', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
SET IDENTITY_INSERT [dbo].[Certificate] ON 

INSERT [dbo].[Certificate] ([CertificateId], [PatientPolicy], [DoctorId], [IssueDate], [CertificateType], [CertificateText], [ValidUntil], [FileUrl], [Status], [EmailSent], [CreatedAt]) VALUES (1, N'1234567890123456', 1, CAST(N'2026-05-06T14:13:47.3994209' AS DateTime2), N'Направление', N'Направляется к врачу специальности: Кардиолог

Причина: Консультация', CAST(N'2026-06-05T14:13:47.3994209' AS DateTime2), NULL, N'активен', NULL, NULL)
INSERT [dbo].[Certificate] ([CertificateId], [PatientPolicy], [DoctorId], [IssueDate], [CertificateType], [CertificateText], [ValidUntil], [FileUrl], [Status], [EmailSent], [CreatedAt]) VALUES (2, N'1234567890123456', 1, CAST(N'2026-05-06T14:14:36.4708817' AS DateTime2), N'Листок нетрудоспособности', N'Период нетрудоспособности:
с 06.05.2026 по 11.05.2026

Диагноз: Жалоб нет. Состояние удовлетворительное.', CAST(N'2026-05-11T14:14:36.4698745' AS DateTime2), NULL, N'активен', NULL, NULL)
INSERT [dbo].[Certificate] ([CertificateId], [PatientPolicy], [DoctorId], [IssueDate], [CertificateType], [CertificateText], [ValidUntil], [FileUrl], [Status], [EmailSent], [CreatedAt]) VALUES (3, N'5566778899001122', 1, CAST(N'2026-05-06T14:24:54.2749425' AS DateTime2), N'Направление', N'Направляется к врачу специальности: Терапевт

Причина: ', CAST(N'2026-06-05T14:24:54.2749425' AS DateTime2), NULL, N'активен', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Certificate] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessage] ON 

INSERT [dbo].[ChatMessage] ([MessageId], [PolicyNumber], [MessageText], [IsUserMessage], [SentAt], [IsRead]) VALUES (1, N'1234567890123456', N'Здравствуйте! У меня вопрос по назначенному лечению.', 0, CAST(N'2026-02-18T14:15:00.0000000' AS DateTime2), 1)
INSERT [dbo].[ChatMessage] ([MessageId], [PolicyNumber], [MessageText], [IsUserMessage], [SentAt], [IsRead]) VALUES (2, N'1234567890123456', N'Здравствуйте! Уточните, пожалуйста, как правильно принимать лекарства.', 1, CAST(N'2026-02-18T14:18:00.0000000' AS DateTime2), 1)
INSERT [dbo].[ChatMessage] ([MessageId], [PolicyNumber], [MessageText], [IsUserMessage], [SentAt], [IsRead]) VALUES (3, N'2345678901234567', N'Добрый день! Мне нужно изменить время записи.', 1, CAST(N'2026-02-18T15:40:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ChatMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([DoctorId], [FullNameRU], [FullNameBA], [SpecialtyRU], [SpecialtyBA], [Room], [Category], [ExperienceYears], [Education], [PhotoUrl], [IsOnline], [Rating], [CreatedAt]) VALUES (1, N'Иванова Анна Петровна', N'Иванова Анна Петровна', N'Терапевт', N'Терапевт', N'205', N'высшая', 18, N'БГМУ, 2006 г.', NULL, 0, CAST(4.80 AS Decimal(3, 2)), CAST(N'2026-02-17T11:23:12.9800000' AS DateTime2))
INSERT [dbo].[Doctor] ([DoctorId], [FullNameRU], [FullNameBA], [SpecialtyRU], [SpecialtyBA], [Room], [Category], [ExperienceYears], [Education], [PhotoUrl], [IsOnline], [Rating], [CreatedAt]) VALUES (2, N'Смирнов Дмитрий Алексеевич', N'Смирнов Дмитрий Алексеевич', N'Кардиолог', N'Кардиолог', N'310', N'высшая', 20, N'БГМУ, 2004 г.', NULL, 0, CAST(4.90 AS Decimal(3, 2)), CAST(N'2026-02-17T11:23:12.9800000' AS DateTime2))
INSERT [dbo].[Doctor] ([DoctorId], [FullNameRU], [FullNameBA], [SpecialtyRU], [SpecialtyBA], [Room], [Category], [ExperienceYears], [Education], [PhotoUrl], [IsOnline], [Rating], [CreatedAt]) VALUES (3, N'Козлова Елена Викторовна', N'Козлова Елена Викторовна', N'Офтальмолог', N'Офтальмолог', N'215', N'первая', 14, N'БГМУ, 2010 г.', NULL, 0, CAST(4.70 AS Decimal(3, 2)), CAST(N'2026-02-17T11:23:12.9800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[DoctorPhoto] ON 

INSERT [dbo].[DoctorPhoto] ([PhotoId], [DoctorId], [PhotoUrl], [PhotoData], [PhotoType], [UploadedAt], [IsActive]) VALUES (1, 1, N'/images/doctors/ivanova_main.jpg', NULL, N'profile', CAST(N'2026-05-02T21:00:23.9933333' AS DateTime2), 1)
INSERT [dbo].[DoctorPhoto] ([PhotoId], [DoctorId], [PhotoUrl], [PhotoData], [PhotoType], [UploadedAt], [IsActive]) VALUES (2, 1, N'/images/doctors/ivanova_diploma.jpg', NULL, N'document', CAST(N'2026-05-02T21:00:23.9933333' AS DateTime2), 1)
INSERT [dbo].[DoctorPhoto] ([PhotoId], [DoctorId], [PhotoUrl], [PhotoData], [PhotoType], [UploadedAt], [IsActive]) VALUES (3, 2, N'/images/doctors/mukhametov_main.jpg', NULL, N'profile', CAST(N'2026-05-02T21:00:23.9933333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[DoctorPhoto] OFF
GO
SET IDENTITY_INSERT [dbo].[HealthMetrics] ON 

INSERT [dbo].[HealthMetrics] ([MetricId], [PolicyNumber], [MetricType], [Value1], [Value2], [MeasureDate], [Comment]) VALUES (1, N'1234567890123456', N'Давление', CAST(120.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), CAST(N'2026-03-16T23:33:38.937' AS DateTime), N'Ежедневное измерение утром')
INSERT [dbo].[HealthMetrics] ([MetricId], [PolicyNumber], [MetricType], [Value1], [Value2], [MeasureDate], [Comment]) VALUES (2, N'1234567890123456', N'Давление', CAST(121.50 AS Decimal(10, 2)), CAST(80.80 AS Decimal(10, 2)), CAST(N'2026-03-15T23:33:38.940' AS DateTime), N'Ежедневное измерение утром')
INSERT [dbo].[HealthMetrics] ([MetricId], [PolicyNumber], [MetricType], [Value1], [Value2], [MeasureDate], [Comment]) VALUES (3, N'1234567890123456', N'Давление', CAST(123.00 AS Decimal(10, 2)), CAST(81.60 AS Decimal(10, 2)), CAST(N'2026-03-14T23:33:38.947' AS DateTime), N'Ежедневное измерение утром')
SET IDENTITY_INSERT [dbo].[HealthMetrics] OFF
GO
SET IDENTITY_INSERT [dbo].[HomeVisits] ON 

INSERT [dbo].[HomeVisits] ([VisitId], [PolicyNumber], [PatientName], [Address], [Symptoms], [VisitDate], [Status], [CreatedAt]) VALUES (1, N'1234567890123456', N'Иванов Иван Иванович', N'г. Янаул, ул. Худайбердина, д. 10, кв. 5', N'Высокая температура (39.5), сухой кашель', CAST(N'2026-03-17T01:33:38.933' AS DateTime), N'В ожидании', CAST(N'2026-03-16T23:33:38.933' AS DateTime))
INSERT [dbo].[HomeVisits] ([VisitId], [PolicyNumber], [PatientName], [Address], [Symptoms], [VisitDate], [Status], [CreatedAt]) VALUES (2, N'1234567890123456', N'Иванов Иван Иванович', N'г. Янаул, ул. Ленина, д. 45, кв. 12', N'Острая боль в животе, тошнота', CAST(N'2026-03-17T23:33:38.933' AS DateTime), N'Подтвержден', CAST(N'2026-03-16T23:33:38.933' AS DateTime))
INSERT [dbo].[HomeVisits] ([VisitId], [PolicyNumber], [PatientName], [Address], [Symptoms], [VisitDate], [Status], [CreatedAt]) VALUES (3, N'1234567890123456', N'Иванов Иван Иванович', N'с. Кызыл Яр, ул. Мира, д. 3', N'Головокружение, скачки давления', CAST(N'2026-03-17T23:33:38.933' AS DateTime), N'В ожидании', CAST(N'2026-03-16T23:33:38.933' AS DateTime))
SET IDENTITY_INSERT [dbo].[HomeVisits] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalCard] ON 

INSERT [dbo].[MedicalCard] ([CardId], [PolicyNumber], [PatientName], [DateOfBirth], [Gender], [BloodType], [Allergies], [ChronicDiseases], [Height], [Weight], [CreatedAt], [UpdatedAt], [Phone], [Email]) VALUES (1, N'1234567890123456', N'Иванов Иван Иванович', CAST(N'1985-03-15' AS Date), N'М', N'A (II) Rh+', N'Пенициллин', N'Гипертония 1 ст.', 178, 82, CAST(N'2026-02-17T11:23:12.9833333' AS DateTime2), CAST(N'2026-02-17T11:23:12.9833333' AS DateTime2), NULL, NULL)
INSERT [dbo].[MedicalCard] ([CardId], [PolicyNumber], [PatientName], [DateOfBirth], [Gender], [BloodType], [Allergies], [ChronicDiseases], [Height], [Weight], [CreatedAt], [UpdatedAt], [Phone], [Email]) VALUES (2, N'2345678901234567', N'Петрова Мария Сергеевна', CAST(N'1992-07-22' AS Date), N'Ж', N'O (I) Rh+', N'Нет', N'Нет', 165, 58, CAST(N'2026-02-17T11:23:12.9833333' AS DateTime2), CAST(N'2026-02-17T11:23:12.9833333' AS DateTime2), NULL, NULL)
INSERT [dbo].[MedicalCard] ([CardId], [PolicyNumber], [PatientName], [DateOfBirth], [Gender], [BloodType], [Allergies], [ChronicDiseases], [Height], [Weight], [CreatedAt], [UpdatedAt], [Phone], [Email]) VALUES (3, N'3456789012345678', N'Сидоров Алексей Владимирович', CAST(N'1978-11-05' AS Date), N'М', N'B (III) Rh-', N'Нет', N'Сахарный диабет 2 типа', 182, 95, CAST(N'2026-02-17T11:23:12.9833333' AS DateTime2), CAST(N'2026-02-17T11:23:12.9833333' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[MedicalCard] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationId], [PatientPolicy], [Message], [Type], [IsRead], [CreatedAt]) VALUES (1, N'5566778899001122', N'Готов новый результат анализа: ЭКГ', N'анализ', 0, CAST(N'2026-05-06T12:38:56.4937880' AS DateTime2))
INSERT [dbo].[Notification] ([NotificationId], [PatientPolicy], [Message], [Type], [IsRead], [CreatedAt]) VALUES (2, N'7788990011223344', N'Готов результат анализа: Анализ мочи общий', N'анализ', 0, CAST(N'2026-05-06T12:57:22.4309218' AS DateTime2))
INSERT [dbo].[Notification] ([NotificationId], [PatientPolicy], [Message], [Type], [IsRead], [CreatedAt]) VALUES (3, N'4567890123456789', N'Вам выдано направление к врачу: Терапевт', N'справка', 1, CAST(N'2026-05-06T13:40:39.8781388' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientPhotos] ON 

INSERT [dbo].[PatientPhotos] ([PhotoId], [PolicyNumber], [PhotoUrl], [PhotoData], [PhotoType], [UploadedAt], [UploadedBy], [IsActive]) VALUES (1, N'1234567890123456', N'/images/patients/smirnov_profile.jpg', NULL, N'profile', CAST(N'2026-05-02T21:00:23.9733333' AS DateTime2), NULL, 1)
INSERT [dbo].[PatientPhotos] ([PhotoId], [PolicyNumber], [PhotoUrl], [PhotoData], [PhotoType], [UploadedAt], [UploadedBy], [IsActive]) VALUES (2, N'1234567890123456', N'/images/patients/smirnov_passport.jpg', NULL, N'document', CAST(N'2026-05-02T21:00:23.9733333' AS DateTime2), NULL, 1)
INSERT [dbo].[PatientPhotos] ([PhotoId], [PolicyNumber], [PhotoUrl], [PhotoData], [PhotoType], [UploadedAt], [UploadedBy], [IsActive]) VALUES (3, N'2345678901234567', N'/images/patients/kuznetsova_profile.jpg', NULL, N'profile', CAST(N'2026-05-02T21:00:23.9733333' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[PatientPhotos] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentId], [PolicyNumber], [Amount], [ServiceRU], [ServiceBA], [PaymentDate], [Status], [PaymentMethod], [ReceiptNumber], [IsRefunded]) VALUES (1, N'1234567890123456', CAST(850.00 AS Decimal(10, 2)), N'Приём терапевта', N'Терапевтҡа ҡабул', CAST(N'2026-02-17T11:23:13.0033333' AS DateTime2), N'оплачено', N'карта', N'CHK-001', 0)
INSERT [dbo].[Payment] ([PaymentId], [PolicyNumber], [Amount], [ServiceRU], [ServiceBA], [PaymentDate], [Status], [PaymentMethod], [ReceiptNumber], [IsRefunded]) VALUES (2, N'2345678901234567', CAST(1200.00 AS Decimal(10, 2)), N'Биохимический анализ крови', N'Биохимик ҡан анализы', CAST(N'2026-02-17T11:23:13.0033333' AS DateTime2), N'оплачено', N'карта', N'CHK-002', 0)
INSERT [dbo].[Payment] ([PaymentId], [PolicyNumber], [Amount], [ServiceRU], [ServiceBA], [PaymentDate], [Status], [PaymentMethod], [ReceiptNumber], [IsRefunded]) VALUES (3, N'3456789012345678', CAST(1500.00 AS Decimal(10, 2)), N'УЗИ брюшной полости', N'Ҡорһаҡ ҡырҡылышы УЗИһы', CAST(N'2026-02-17T11:23:13.0033333' AS DateTime2), N'оплачено', N'карта', N'CHK-003', 0)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([PrescriptionId], [PolicyNumber], [DoctorId], [IssueDate], [ValidUntil], [Medicines], [DosageInstructions], [IsPrinted], [Status]) VALUES (1, N'1234567890123456', 1, CAST(N'2026-02-18T14:00:00.0000000' AS DateTime2), CAST(N'2026-03-18T14:00:00.0000000' AS DateTime2), N'1. Амоксициллин 500мг — 3 раза в день 7 дней; 2. Ибупрофен 200мг — при боли', N'Принимать после еды. Ибупрофен — не более 3 таблеток в день', 0, N'активен')
INSERT [dbo].[Prescription] ([PrescriptionId], [PolicyNumber], [DoctorId], [IssueDate], [ValidUntil], [Medicines], [DosageInstructions], [IsPrinted], [Status]) VALUES (2, N'2345678901234567', 2, CAST(N'2026-02-18T15:30:00.0000000' AS DateTime2), CAST(N'2026-03-18T15:30:00.0000000' AS DateTime2), N'1. Аспирин 100мг — 1 раз в день; 2. Метопролол 50мг — утром и вечером', N'Принимать утром и вечером', 0, N'активен')
INSERT [dbo].[Prescription] ([PrescriptionId], [PolicyNumber], [DoctorId], [IssueDate], [ValidUntil], [Medicines], [DosageInstructions], [IsPrinted], [Status]) VALUES (3, N'3456789012345678', 4, CAST(N'2026-02-19T10:00:00.0000000' AS DateTime2), CAST(N'2026-03-19T10:00:00.0000000' AS DateTime2), N'1. Амоксициллин 500мг — 3 раза в день 7 дней; 2. Цефазолин 1г — внутримышечно 2 раза в день', N'Принимать после еды', 0, N'активен')
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO
SET IDENTITY_INSERT [dbo].[Referral] ON 

INSERT [dbo].[Referral] ([ReferralId], [PatientPolicy], [DoctorId], [IssueDate], [SpecialtyTarget], [Reason], [Status]) VALUES (1, N'4567890123456789', 1, CAST(N'2026-05-06T13:40:39.840' AS DateTime), N'Терапевт', N'Консультация', N'Активно')
INSERT [dbo].[Referral] ([ReferralId], [PatientPolicy], [DoctorId], [IssueDate], [SpecialtyTarget], [Reason], [Status]) VALUES (2, N'0011223344556677', 1, CAST(N'2026-05-06T13:54:33.217' AS DateTime), N'Кардиолог', N'Консультация', N'Активно')
INSERT [dbo].[Referral] ([ReferralId], [PatientPolicy], [DoctorId], [IssueDate], [SpecialtyTarget], [Reason], [Status]) VALUES (3, N'1234567890123456', 1, CAST(N'2026-05-06T14:13:47.383' AS DateTime), N'Кардиолог', N'Консультация', N'Активно')
SET IDENTITY_INSERT [dbo].[Referral] OFF
GO
SET IDENTITY_INSERT [dbo].[SickLeave] ON 

INSERT [dbo].[SickLeave] ([SickLeaveId], [PatientPolicy], [DoctorId], [IssueDate], [StartDate], [EndDate], [Reason], [Status]) VALUES (1, N'4567890123456789', 1, CAST(N'2026-05-06T13:40:46.557' AS DateTime), CAST(N'2026-05-06T13:40:46.557' AS DateTime), CAST(N'2026-05-11T13:40:46.557' AS DateTime), N'Жалобы на насморк, легкое першение в горле. Температура 37.2.', N'Открыт')
INSERT [dbo].[SickLeave] ([SickLeaveId], [PatientPolicy], [DoctorId], [IssueDate], [StartDate], [EndDate], [Reason], [Status]) VALUES (2, N'0011223344556677', 1, CAST(N'2026-05-06T13:54:47.607' AS DateTime), CAST(N'2026-05-06T13:54:47.607' AS DateTime), CAST(N'2026-05-11T13:54:47.607' AS DateTime), N'Жалобы на насморк, легкое першение в горле. Температура 37.2.', N'Открыт')
INSERT [dbo].[SickLeave] ([SickLeaveId], [PatientPolicy], [DoctorId], [IssueDate], [StartDate], [EndDate], [Reason], [Status]) VALUES (3, N'1234567890123456', 1, CAST(N'2026-05-06T14:14:36.470' AS DateTime), CAST(N'2026-05-06T14:14:36.470' AS DateTime), CAST(N'2026-05-11T14:14:36.470' AS DateTime), N'Жалоб нет. Состояние удовлетворительное.', N'Открыт')
SET IDENTITY_INSERT [dbo].[SickLeave] OFF
GO
SET IDENTITY_INSERT [dbo].[SymptomRules] ON 

INSERT [dbo].[SymptomRules] ([RuleId], [Keyword], [RecommendedSpecialty], [Priority], [IsActive]) VALUES (1, N'голова', N'Невролог', 1, 1)
INSERT [dbo].[SymptomRules] ([RuleId], [Keyword], [RecommendedSpecialty], [Priority], [IsActive]) VALUES (2, N'мигрень', N'Невролог', 1, 1)
INSERT [dbo].[SymptomRules] ([RuleId], [Keyword], [RecommendedSpecialty], [Priority], [IsActive]) VALUES (3, N'температура', N'Терапевт', 2, 1)
SET IDENTITY_INSERT [dbo].[SymptomRules] OFF
GO
SET IDENTITY_INSERT [dbo].[TriageRecords] ON 

INSERT [dbo].[TriageRecords] ([RecordId], [PolicyNumber], [UserInput], [DetectedSymptoms], [RecommendedDoctorSpecialty], [RecommendedDoctorId], [CreatedAt]) VALUES (1, N'1234567890123456', N'Болит голова и температура', N'голова, температура', N'Терапевт', NULL, CAST(N'2026-03-06T23:33:38.983' AS DateTime))
INSERT [dbo].[TriageRecords] ([RecordId], [PolicyNumber], [UserInput], [DetectedSymptoms], [RecommendedDoctorSpecialty], [RecommendedDoctorId], [CreatedAt]) VALUES (2, N'1234567890123456', N'Стреляет в ухе', N'ухо', N'ЛОР', NULL, CAST(N'2026-03-07T23:33:38.983' AS DateTime))
INSERT [dbo].[TriageRecords] ([RecordId], [PolicyNumber], [UserInput], [DetectedSymptoms], [RecommendedDoctorSpecialty], [RecommendedDoctorId], [CreatedAt]) VALUES (3, N'1234567890123456', N'Сыпь на руке', N'сыпь', N'Дерматолог', NULL, CAST(N'2026-03-08T23:33:38.983' AS DateTime))
SET IDENTITY_INSERT [dbo].[TriageRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [Role], [FullName]) VALUES (1, N'admin', N'admin123', N'Admin', N'Главный Администратор')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaccine] ON 

INSERT [dbo].[Vaccine] ([VaccineId], [NameRU], [NameBA], [DescriptionRU], [DescriptionBA], [Price], [DurationMinutes], [AgeRestrictions], [Availability], [NextDoseDays]) VALUES (1, N'Против гриппа', N'Гриппҡа ҡаршы', N'Сезонная вакцинация против гриппа', N'Гриппҡа ҡаршы сезон вакцинацияһы', CAST(0.00 AS Decimal(10, 2)), 15, N'С 6 месяцев', N'В наличии', NULL)
INSERT [dbo].[Vaccine] ([VaccineId], [NameRU], [NameBA], [DescriptionRU], [DescriptionBA], [Price], [DurationMinutes], [AgeRestrictions], [Availability], [NextDoseDays]) VALUES (2, N'Против COVID-19 (Спутник V)', N'COVID-19-ға ҡаршы (Спутник V)', N'Вакцинация против коронавирусной инфекции', N'Коронавируслы инфекцияға ҡаршы вакцинация', CAST(0.00 AS Decimal(10, 2)), 20, N'С 18 лет', N'В наличии', NULL)
INSERT [dbo].[Vaccine] ([VaccineId], [NameRU], [NameBA], [DescriptionRU], [DescriptionBA], [Price], [DurationMinutes], [AgeRestrictions], [Availability], [NextDoseDays]) VALUES (3, N'АКДС', N'АКДС', N'Вакцина против дифтерии, коклюша и столбняка для взрослых', N'Иртәрәк кешеләр өсөн дифтерия, коклюш һәм ҡаты түбән ҡаршы вакцина', CAST(0.00 AS Decimal(10, 2)), 10, N'С 14 лет', N'В наличии', NULL)
SET IDENTITY_INSERT [dbo].[Vaccine] OFF
GO
SET IDENTITY_INSERT [dbo].[VirtualQueue] ON 

INSERT [dbo].[VirtualQueue] ([QueueId], [AppointmentId], [QueuePosition], [EstimatedWaitMinutes], [Status], [Notified], [UpdatedAt]) VALUES (1, 1, 1, 15, N'вызван', 1, CAST(N'2026-05-20T16:13:02.4127459' AS DateTime2))
INSERT [dbo].[VirtualQueue] ([QueueId], [AppointmentId], [QueuePosition], [EstimatedWaitMinutes], [Status], [Notified], [UpdatedAt]) VALUES (2, 2, 2, 18, N'ожидает', 0, CAST(N'2026-02-18T14:30:00.0000000' AS DateTime2))
INSERT [dbo].[VirtualQueue] ([QueueId], [AppointmentId], [QueuePosition], [EstimatedWaitMinutes], [Status], [Notified], [UpdatedAt]) VALUES (3, 3, 3, 20, N'ожидает', 0, CAST(N'2026-02-18T15:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[VirtualQueue] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Appointm__CBED06DA676702BB]    Script Date: 20.05.2026 17:31:48 ******/
ALTER TABLE [dbo].[Appointment] ADD UNIQUE NONCLUSTERED 
(
	[TicketNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Appointm__CBED06DA97A971A2]    Script Date: 20.05.2026 17:31:48 ******/
ALTER TABLE [dbo].[Appointment] ADD UNIQUE NONCLUSTERED 
(
	[TicketNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorPhotos_DoctorId]    Script Date: 20.05.2026 17:31:48 ******/
CREATE NONCLUSTERED INDEX [IX_DoctorPhotos_DoctorId] ON [dbo].[DoctorPhoto]
(
	[DoctorId] ASC
)
INCLUDE([PhotoUrl],[IsActive]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MedicalC__46DA01579FC1145E]    Script Date: 20.05.2026 17:31:48 ******/
ALTER TABLE [dbo].[MedicalCard] ADD UNIQUE NONCLUSTERED 
(
	[PolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MedicalC__46DA0157CBF54B11]    Script Date: 20.05.2026 17:31:48 ******/
ALTER TABLE [dbo].[MedicalCard] ADD UNIQUE NONCLUSTERED 
(
	[PolicyNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PatientPhotos_PolicyNumber]    Script Date: 20.05.2026 17:31:48 ******/
CREATE NONCLUSTERED INDEX [IX_PatientPhotos_PolicyNumber] ON [dbo].[PatientPhotos]
(
	[PolicyNumber] ASC
)
INCLUDE([PhotoUrl],[IsActive]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Payment__C08AFDAB4F37C937]    Script Date: 20.05.2026 17:31:48 ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Payment__C08AFDABAF169ED3]    Script Date: 20.05.2026 17:31:48 ******/
ALTER TABLE [dbo].[Payment] ADD UNIQUE NONCLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E478FA500F]    Script Date: 20.05.2026 17:31:48 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnalysisType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ((0)) FOR [IsVaccination]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ((0)) FOR [IsOnline]
GO
ALTER TABLE [dbo].[Appointment] ADD  DEFAULT ('???????') FOR [Status]
GO
ALTER TABLE [dbo].[Certificate] ADD  DEFAULT ((0)) FOR [EmailSent]
GO
ALTER TABLE [dbo].[Certificate] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT ((0)) FOR [IsOnline]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT ((4.5)) FOR [Rating]
GO
ALTER TABLE [dbo].[Doctor] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[HomeVisits] ADD  DEFAULT (N'В ожидании') FOR [Status]
GO
ALTER TABLE [dbo].[HomeVisits] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MedicalCard] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MedicalCard] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('????????') FOR [Status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('?????') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [IsRefunded]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT (getdate()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT ((0)) FOR [IsPrinted]
GO
ALTER TABLE [dbo].[Prescription] ADD  DEFAULT ('???????') FOR [Status]
GO
ALTER TABLE [dbo].[Referral] ADD  DEFAULT (N'Активно') FOR [Status]
GO
ALTER TABLE [dbo].[SickLeave] ADD  DEFAULT (N'Открыт') FOR [Status]
GO
ALTER TABLE [dbo].[SymptomRules] ADD  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[SymptomRules] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TriageRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Admin') FOR [Role]
GO
ALTER TABLE [dbo].[Vaccination] ADD  DEFAULT ((0)) FOR [EmailSent]
GO
ALTER TABLE [dbo].[Vaccination] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vaccine] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Vaccine] ADD  DEFAULT ('? ???????') FOR [Availability]
GO
ALTER TABLE [dbo].[VirtualQueue] ADD  DEFAULT ('???????') FOR [Status]
GO
ALTER TABLE [dbo].[VirtualQueue] ADD  DEFAULT ((0)) FOR [Notified]
GO
ALTER TABLE [dbo].[VirtualQueue] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AnalysisResults]  WITH CHECK ADD  CONSTRAINT [FK_AnalysisResults_AnalysisType] FOREIGN KEY([AnalysisId])
REFERENCES [dbo].[AnalysisType] ([AnalysisId])
GO
ALTER TABLE [dbo].[AnalysisResults] CHECK CONSTRAINT [FK_AnalysisResults_AnalysisType]
GO
ALTER TABLE [dbo].[AnalysisResults]  WITH CHECK ADD  CONSTRAINT [FK_AnalysisResults_AnalysisTypes] FOREIGN KEY([AnalysisId])
REFERENCES [dbo].[AnalysisType] ([AnalysisId])
GO
ALTER TABLE [dbo].[AnalysisResults] CHECK CONSTRAINT [FK_AnalysisResults_AnalysisTypes]
GO
ALTER TABLE [dbo].[AnalysisResults]  WITH CHECK ADD  CONSTRAINT [FK_AnalysisResults_MedicalCard] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AnalysisResults] CHECK CONSTRAINT [FK_AnalysisResults_MedicalCard]
GO
ALTER TABLE [dbo].[AnalysisResults]  WITH CHECK ADD  CONSTRAINT [FK_AnalysisResults_MedicalCards] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
GO
ALTER TABLE [dbo].[AnalysisResults] CHECK CONSTRAINT [FK_AnalysisResults_MedicalCards]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_MedicalCard] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_MedicalCard]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointments_Doctors]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_MedicalCards] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointments_MedicalCards]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_Doctor]
GO
ALTER TABLE [dbo].[Certificate]  WITH CHECK ADD  CONSTRAINT [FK_Certificate_MedicalCard] FOREIGN KEY([PatientPolicy])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Certificate] CHECK CONSTRAINT [FK_Certificate_MedicalCard]
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessage_MedicalCard] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessage] CHECK CONSTRAINT [FK_ChatMessage_MedicalCard]
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_MedicalCards] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
GO
ALTER TABLE [dbo].[ChatMessage] CHECK CONSTRAINT [FK_ChatMessages_MedicalCards]
GO
ALTER TABLE [dbo].[DoctorPhoto]  WITH CHECK ADD  CONSTRAINT [FK_DoctorPhoto_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DoctorPhoto] CHECK CONSTRAINT [FK_DoctorPhoto_Doctor]
GO
ALTER TABLE [dbo].[HealthMetrics]  WITH CHECK ADD  CONSTRAINT [FK_HealthMetrics_MedicalCards] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HealthMetrics] CHECK CONSTRAINT [FK_HealthMetrics_MedicalCards]
GO
ALTER TABLE [dbo].[HomeVisits]  WITH CHECK ADD  CONSTRAINT [FK_HomeVisits_MedicalCards] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HomeVisits] CHECK CONSTRAINT [FK_HomeVisits_MedicalCards]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_MedicalCard] FOREIGN KEY([PatientPolicy])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_MedicalCard]
GO
ALTER TABLE [dbo].[PatientPhotos]  WITH CHECK ADD  CONSTRAINT [FK_PatientPhotos_MedicalCard] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PatientPhotos] CHECK CONSTRAINT [FK_PatientPhotos_MedicalCard]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_MedicalCard] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_MedicalCard]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payments_MedicalCards] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payments_MedicalCards]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Doctor]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_MedicalCard] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_MedicalCard]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Doctors] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescriptions_Doctors]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_MedicalCards] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescriptions_MedicalCards]
GO
ALTER TABLE [dbo].[Referral]  WITH CHECK ADD  CONSTRAINT [FK_Referral_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
GO
ALTER TABLE [dbo].[Referral] CHECK CONSTRAINT [FK_Referral_Doctor]
GO
ALTER TABLE [dbo].[Referral]  WITH CHECK ADD  CONSTRAINT [FK_Referral_MedicalCard] FOREIGN KEY([PatientPolicy])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Referral] CHECK CONSTRAINT [FK_Referral_MedicalCard]
GO
ALTER TABLE [dbo].[SickLeave]  WITH CHECK ADD  CONSTRAINT [FK_SickLeave_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
GO
ALTER TABLE [dbo].[SickLeave] CHECK CONSTRAINT [FK_SickLeave_Doctor]
GO
ALTER TABLE [dbo].[SickLeave]  WITH CHECK ADD  CONSTRAINT [FK_SickLeave_MedicalCard] FOREIGN KEY([PatientPolicy])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SickLeave] CHECK CONSTRAINT [FK_SickLeave_MedicalCard]
GO
ALTER TABLE [dbo].[TriageRecords]  WITH CHECK ADD  CONSTRAINT [FK_Triage_Doctors] FOREIGN KEY([RecommendedDoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TriageRecords] CHECK CONSTRAINT [FK_Triage_Doctors]
GO
ALTER TABLE [dbo].[TriageRecords]  WITH CHECK ADD  CONSTRAINT [FK_Triage_MedicalCards] FOREIGN KEY([PolicyNumber])
REFERENCES [dbo].[MedicalCard] ([PolicyNumber])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[TriageRecords] CHECK CONSTRAINT [FK_Triage_MedicalCards]
GO
ALTER TABLE [dbo].[Vaccination]  WITH CHECK ADD  CONSTRAINT [FK_Vaccination_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([DoctorId])
GO
ALTER TABLE [dbo].[Vaccination] CHECK CONSTRAINT [FK_Vaccination_Doctor]
GO
ALTER TABLE [dbo].[VirtualQueue]  WITH CHECK ADD  CONSTRAINT [FK_VirtualQueue_Appointment] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointment] ([AppointmentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VirtualQueue] CHECK CONSTRAINT [FK_VirtualQueue_Appointment]
GO
ALTER TABLE [dbo].[VirtualQueue]  WITH CHECK ADD  CONSTRAINT [FK_VirtualQueue_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointment] ([AppointmentId])
GO
ALTER TABLE [dbo].[VirtualQueue] CHECK CONSTRAINT [FK_VirtualQueue_Appointments]
GO
ALTER TABLE [dbo].[AnalysisType]  WITH CHECK ADD CHECK  (([DaysToResult]>=(0)))
GO
ALTER TABLE [dbo].[AnalysisType]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
ALTER TABLE [dbo].[Vaccine]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
USE [master]
GO
